
@model List<Pizza>


<table class="table container">
    <thead>
        <tr>
           
            <th scope="col">Nome</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Foto</th>
            <th scope="col">Prezzo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Pizza pizza in Model)
        {
           
            <tr>
                <td>@pizza.Nome</td>
                <td>@pizza.Descrizione</td>
                <td><img src="@pizza.Image" /></td>
                <td>@pizza.Prezzo &euro;</td>
                <td><a href="">Dettagli</a></td>
            </tr>
                
        }
    </tbody>
</table>

